/application>/i
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:exported="true" android:label="@string/monsterrom_reborn_settings_title" android:name="com.android.settings.Settings$MonsterROMRebornSettingsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data android:name="com.android.settings.FRAGMENT_CLASS" android:value="io.mesalabs.monsterromreborn.settings.MonsterROMRebornSettingsFragment"/>
            <meta-data android:name="com.android.settings.HIGHLIGHT_MENU_KEY" android:value="@string/menu_key_monsterrom_reborn_top_settings"/>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:exported="true" android:label="@string/monsterrom_reborn_extra_settings_title" android:name="com.android.settings.Settings$MonsterROMRebornExtraSettingsActivity" android:parentActivityName="com.android.settings.Settings$MonsterROMRebornSettingsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data android:name="com.android.settings.FRAGMENT_CLASS" android:value="io.mesalabs.monsterromreborn.settings.extra.ExtraSettingsFragment"/>
            <meta-data android:name="com.android.settings.HIGHLIGHT_MENU_KEY" android:value="@string/menu_key_monsterrom_reborn_top_settings"/>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:exported="true" android:label="@string/monsterrom_reborn_hma_title" android:name="com.android.settings.Settings$MonsterROMRebornHMASettingsActivity" android:parentActivityName="com.android.settings.Settings$MonsterROMRebornSpoofSettingsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data android:name="com.android.settings.FRAGMENT_CLASS" android:value="io.mesalabs.monsterromreborn.settings.hma.HideMyApplistFragment"/>
            <meta-data android:name="com.android.settings.HIGHLIGHT_MENU_KEY" android:value="@string/menu_key_monsterrom_reborn_top_settings"/>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:exported="true" android:label="@string/monsterrom_reborn_hide_dev_title" android:name="com.android.settings.Settings$MonsterROMRebornHideDevSettingsActivity" android:parentActivityName="com.android.settings.Settings$MonsterROMRebornSpoofSettingsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data android:name="com.android.settings.FRAGMENT_CLASS" android:value="io.mesalabs.monsterromreborn.settings.spoof.HideDeveloperStatusFragment"/>
            <meta-data android:name="com.android.settings.HIGHLIGHT_MENU_KEY" android:value="@string/menu_key_monsterrom_reborn_top_settings"/>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:exported="true" android:label="@string/monsterrom_reborn_spoof_settings_title" android:name="com.android.settings.Settings$MonsterROMRebornSpoofSettingsActivity" android:parentActivityName="com.android.settings.Settings$MonsterROMRebornSettingsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data android:name="com.android.settings.FRAGMENT_CLASS" android:value="io.mesalabs.monsterromreborn.settings.spoof.SpoofSettingsFragment"/>
            <meta-data android:name="com.android.settings.HIGHLIGHT_MENU_KEY" android:value="@string/menu_key_monsterrom_reborn_top_settings"/>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:exported="true" android:label="@string/monsterrom_reborn_ui_settings_title" android:name="com.android.settings.Settings$MonsterROMRebornUISettingsActivity" android:parentActivityName="com.android.settings.Settings$MonsterROMRebornSettingsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data android:name="com.android.settings.FRAGMENT_CLASS" android:value="io.mesalabs.monsterromreborn.settings.ui.UISettingsFragment"/>
            <meta-data android:name="com.android.settings.HIGHLIGHT_MENU_KEY" android:value="@string/menu_key_monsterrom_reborn_top_settings"/>
        </activity>