out/

# Cert
security/*_ota.x509.pem
security/*_ota.pk8
security/*_platform.x509.pem
security/*_platform.pk8

#
# We don't want to ignore the following even if they are dot-files
#
!.gitattributes
!.gitignore
!.gitmodules
